/* 
Já comentei sobre os "Containers".
Veja que aqui no teu CSS esse termo 
'container' aparece 13 vezes. Isso dificulta
a compreensão do elemento real que estamos
trabalhando. Por isso classes mais descritivas
são melhores.

ex.

.topbar {...}
.topbar__container {...}
.topbar__header {...}
*/

/*************** header ******************/ 
.container__master__root {
  width: 100%; 
  height: 100vh;       
  display: flex; /* em linha */ 
  flex-direction: column; 
  justify-content: space-between;   
}

.container__header__one {
  background-color: #1CD1B0;   
} 

.container__header__one__child { 
  width: 1260px;  
  margin: 0 auto;    
}

.container__header__two {
  background-color: #00669F;  
}

.container__header__two__child {
  height: 80px; 
  width: 1260px;       
  margin: 0 auto;  
}

.image__and__title {
  display: flex;
  justify-content: flex-start; 
  align-items: center;  
}

.image__logo {
  margin-right: 15px; 
}

.title__home {
  font-size: 30px;
  font-weight: 400; 
  color: #fff;
}

/******************** main ********************/ 
.container__main__child {
  width: 1260px; 
  margin: 0 auto; 
  align-self: stretch;  
  display: flex;
  justify-content: center; 
} 

.title__main__child {
  font-size: 72px; 
  font-weight: 700 bold; 
  text-align: start; 
  margin-bottom: 35px;   
}

.login__form {
  display: flex;
  flex-direction: column;   
}

.input__form {
  width: 620px;
  height: 60px; 
  margin-bottom: 20px; 
  padding-left: 20px; 
}

.input__form::placeholder {  
  font-size: 20px;  
}

.container__button__register {
  margin-top: 25px;    
  display: flex; 
  flex-direction: column;
  justify-content: center; 
  align-items: center;  
}

.button__open {
  margin-bottom: 20px; 
  width: 620px; 
  height: 54px; 
  background-color: #1CD1B0; 
  border-radius: 5rem; 
  font-size: 20px; 
  font-weight: 600; 
  border: none;
  cursor: pointer; 
}

.link__button {
  color: #00669F;
  text-decoration: none; 
}

/******************* footer ****************************/
.container__footer {
  background-color: #00669F;  
}

.container__footer__child {
  width: 1260px;  
  height: 61px;
  margin: 0 auto; 
  display: flex;
  justify-content: center;
  align-items: center;  
}

.title__footer__child {
  color: #fff;
}

@media(max-width: 1260px) {
  .container__header__one__child {
    width: 95%; 
  }

  .container__header__two__child {
    width: 95%;  
  }

  .container__main__child {
    width: 95%; 
  } 

  .container__footer__child { 
    width: 95%;
  }
}
/* 0 a 699 */
@media(max-width: 699px) {
  .input__form {
    width: 400px;     
  }

  .button__open {
    width: 400px;  
  } 
}

/* 0 a 470 */ 
@media(max-width: 470px) {
  .input__form {
    width: 300px;     
  }

  .button__open {
    width: 300px;   
  } 
}